
{% extends 'index.html' %}
{% load static %}
{% block container %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableau de Bord</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <!-- affichage nombre total creditation -->
                            <div class="huge">{{totalcreditation}}</div>
                            <div>Total créditation</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'tablecreditation' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir </span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <!-- affichage nombre total emprunt -->
                            <div class="huge">{{totalemprunt}}</div>
                            <div>Total Emprunt</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'tableemprunt' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir </span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <!-- affichage nombre total envoie -->
                            <div class="huge">{{totalenvoie}}</div>
                            <div>Total Envoie</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'tableenvoie' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir </span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <!-- affichage nombre total paiement -->
                            <div class="huge">{{totalpaiement}}</div>
                            <div>Total Paiement</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'tablepaiement' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir </span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
              
                <!-- /.panel-heading -->
               
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <font size="5" color="Blue"><center><i><b>Merci de choisir EcEs MoMo</b></i></center></font>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <img src="{% static 'images/logo.jpg' %}" alt="">
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-8">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                
                <!-- /.panel-heading -->
               
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
       
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}
